.container-navbar {
    width: 100vw;
    height: 57px;
    background-color: #fcc1c1;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
}

.container-navbar div {
    color: white;
    width: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
}

.container-navbar .redes-sociais {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.container-navbar div img {
    width: 35px;
}

.container-navbar div:hover {
    background-color: black;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}